<?php

use Monolog\Logger;

return [
    'tasks'    => [],
    'rabbitmq' => [
        'host'          => 'localhost',
        'port'          => 5672,
        'user'          => 'guest',
        'password'      => 'guest',
        'vhost'         => '/',
        'exchange'      => 'scheduler',
        'exchange_type' => 'direct',
    ],
    'monolog' => [
        'logfile' => 'var/scheduler.log',
        'level'   => Logger::INFO,
    ]
];
